[Unit]
Description=SERVICE DESCRIPTION

[Service]
ExecStart=server.js
Restart=always
User=yourUser
Environment=PATH=/path/to/environment/bin
Environment=NODE_ENV=production
WorkingDirectory=api

[Install]
WantedBy=multi-user.target
